<div class="row">
  <!-- <div class="col-4">
    One way from .ts to .html
    <p>asa</p>
    <p>asaa</p>
  </div> -->
  <div [class]="corname">{{ courseName }}</div>
  <div class="col-4">sdas</div>
  <div>
    <input type="'text" [type]="inputType" id="inp" />
    <label for="inp">Hello</label>
  </div>
</div>
<div class="row">
  <div class="col-4">One way from .ts to .html</div>
  <div class="col-4">
    <button class="btn btn-success" (click)="salert('abcd')">Hello ji</button>
  </div>
  <div class="col-4">
    <button class="btn btn-success" (click)="changeCourseName()">
      Change the name of the courese
    </button>
  </div>
</div>
<div class="row">
  <div class="col-4">Two way data binding</div>
  <div class="col-4">
    <input type="" [(ngModel)]="courseName"/> {{courseName}} 
    <input type="checkbox" [(ngModel)]="isIndian">
    <h2>{{firstName()}}</h2>
  </div>
</div>
